:root{
    
    --blue-color: rgba(20, 45, 69);
    --white-color:white;
   
}

/* css resets starts */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
 font-family: Roboto,'sans-serif';

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
ul{
    list-style-type: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,body{
    height: 100%;
}
body {

  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a{
    text-decoration: none;
}

/* css reset ends */

/* header starts */
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: 1300px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
   height: 5rem;

}
.logo-container{
    max-width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
   font-size: 2rem;
}
h1.logo{
    margin-left: .25rem;
}

.nav-list{
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list a{
    font-size: 1rem;
    margin-right: 4rem;
    color: var(--blue-color);
}
.nav-list a:last-child{
    margin-right: 0;
}
.nav-list a:hover{
    text-decoration: underline;
    color: rgb(2, 2, 52);
    cursor: pointer;
    

}

.header-button{
    background-color: var(--white-color);
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .75rem;
   
}
/* header ends */

/* about us starts */
.about-us{
    width: 100%;
   height: 30rem;
    background-color: #6344C6;
  
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-us-container{
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-left{
    width: 16rem;
    background-color: #FFC448;
    position: relative;
    height:20rem ;
   
}
.ten{
    font-size: 17rem;
    color: #6344C6;
    position: absolute;
    right: -2.3rem;
    top: -7rem;
    font-weight: 200;
    letter-spacing: 0.85rem;
    font-family: fantasy;
}
.about-left p{
    position: absolute;
    font-size:1.2rem ;
   top: 14rem;
    left: 3rem;
    font-weight: 300;

   
}
.name{
    width: 400px;
    
    
    font-size: 3.2rem;
   
    color: #6344C6;
  position: absolute;
 bottom: -2rem;
 left: -1rem;

}
.about-right{
    max-width: 22rem;
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
}
.about-head{
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 1rem;

}
.about-head .hr-line{
    border-color: white;
    background-color: white;
    color: white;
   
}
.about-para{
    color: rgb(211, 211, 211);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.cv-btn{ background-color: white; color: black; border: 0px; height: 50px; width: 180px; border-radius: 1rem; -webkit-border-radius: 1rem; -moz-border-radius: 1rem; -ms-border-radius: 1rem; -o-border-radius: 1rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
}

/* about us ends */


/* services section starts */
.services-container{
    width: 100%;
   
    background-color: aliceblue;
    height: 40rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.services{
  
    font-size: 1.25rem;
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.explore{
    height: 50px;
    width: 150px;
    font-size:.9rem ;

    border-radius: .5rem;
    background-color: black;
    color: var(--white-color);
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.explore:hover{
    color: black;
    background-color: var(--white-color);
    cursor: pointer;
}

.services-lists{
    max-width: 48.75rem;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.service-line{
    height: 1px;
    color: black;
   
}
.services-heading h1{
    font-size: 2.75rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.service-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 48.75rem;
    height: 6rem;
    padding-left: .5rem;
    padding-right: .5rem;

}
.service-card:hover{
    background-color: rgb(124, 124, 246);
    cursor: pointer;
}
.num{
    color: rgb(0, 133, 133);
    font-size: 1rem;
}
.s-head{
    font-size: 1.2rem;
}
.s-para{
    font-size: .8rem;
    color: rgb(74, 74, 74);
}
.s-arrow{
    justify-self:flex-end;
    
    font-size: 1rem;
}
/* services section ends */

/* project section starts*/

.project-container{
    width: 100%;
    background-color:#ffc448;
    height: 45rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    
}
.project{
    font-size: 1.25rem;
    width: 100%;
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-heading{
    width: 50%;
}
.project-heading h1{
   font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.project-btn-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-btn{
    width: 100px;
    height: 50px;
    color: black;
    border: 0px;
    background-color: #ffc448;
    font-size: 1.25rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.project-btn:hover{
   
    cursor: pointer;
   background-color: orangered;
    width: 100px;
    height: 50px;
    color: var(--white-color);
    text-decoration: underline;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.project-card-container{
    max-width: 48.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto  ;

}
.projects-card{
    width: 32%;
}
.project-head{
    margin-top: .5rem;
    font-size: 1rem;
    color: black;
}
.project-sub{
    margin-top: .5rem;
    text-decoration: underline;
    font-size: 1.5rem;
}
.explore-more-container{
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.explore-more{
    width: 12rem;
    height: 3rem;
    background-color: var(--white-color);
    border-radius:1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    color: black;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

/* project section ends*/


/* feedback-part-starts */

.feedback{
    width: 100%;
    
   
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback-container{
    font-size: 1.25rem;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.feedback-header{
    width: 48.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-main-content{
    width: 55rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-main-left{
    width:40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback-text-part{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.feedback-text-part p{
    color: black;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.review{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.reviewer-name{
    font-size: 1.2rem;
    font-weight: 600;
    
}
.reviewer-designation{
    font-size: 0.9rem;
    font-weight: 300;
    color: grey;
    margin-left: 2rem ;
}

.feedback-main-right{
    width: 15rem;
    margin-left: 2rem;
}
.feedback-image{
    width: 15rem;
}
.view-all{
    background-color: var(--white-color);
    color: black;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* feedback-part-ends */

/* achievement part starts */
.achievement{
    width: 100%;

    padding-top: 3rem;
    padding-bottom: 3rem;
}
.achievement-container{
    max-width: 48.75rem;
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-part{
    max-width: 23rem;
    height: 100%;
}
.left-part h1{
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: inline-block;
    margin-bottom: 2.5rem;
}

.right-part{
    max-width: 23rem;
    margin-left: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right-part .card{
    margin-bottom: 1rem;
}
.right-part .card:last-child{
    margin-bottom: 0;
}
.achievement-date{
    font-size: 1rem;
    color: #6F53C9;
    margin-left: 2rem;
    margin-bottom: 0.25rem;
}
.achievement-head{
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 0.75rem;
}
.achievement-para{
    font-size: 0.8rem;
    color: grey;

}

.hr-line{
    width: 3rem;
    height: 0.01px;
    color: black;
    background-color: black;
    border-color: black;
    display: inline-block;
}
.achievement-image{
    height: 100%;
}

/* achievement part ends */

/* blog part starts */
.blog{
    width: 100%;
   padding:3rem 0 ;
   
}
.blog-container{
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
}
.blog-heading{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-bottom: 2rem;
}
.blog-card-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.blog-card{
    width: 48%;
    margin-bottom: 2rem;
}
.blog-left-part h1{
    font-size: 2.5rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.blog-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-tags h1{
    font-size: 2rem;
    color: black;
    font-family: fantasy;
    font-style: italic;
    font-weight: 300;
}
/* blog part ends */