body{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 12px;
  }
  tr:nth-child(even) {
    background-color: grey;
  }